@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    margin: 0px 0px;
    padding: 0px 0px;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}

.nav-list{
    width: 70%;
    /* background-color:black; */
    display: flex;
    text-align: center;
}

/* .logo{
   
} */

.logo img{
    border: 5px solid grey;
    border-radius: 50px;
    width: 33%;
}

.nav-list li{
  list-style: none;
  padding: 22px 2px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    padding: 5px 9px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover{
    background-color:white;
    color: black;
    cursor: pointer;
    border-radius: 150px;
    
}

.rightNav{
    /* background-color: blueviolet; */
    width: 47%;
    text-align: right;
    padding: 0px 27px;
}

#search{
    font-size: 14px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url(../images/bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.first-section{
    height:70vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%;
    border: 4px solid white;
    display: block;
    margin: auto;
    border-radius: 150px;
}

.text-big{
    font-size: 29px;
}

.text-small{
    font-size: 11px;
}

.buttons{
    margin-top: 5px;
}

.btn{
    padding: 5px 5px;
    border: 2px solid white;
    border-radius: 11px;
    font-size: 15px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}

.btn-dark{
    font-size: 17px;
    color: black;
    border: 4px solid black;
    padding: 10px;
    font-family: 'Ubuntu',sans-serif;
}

.section{
    display: flex;
    /* height: 350px; */
    margin: auto;
    justify-content: center;
    max-width: 80%;
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
}

.section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 11px 156px;
}

.sectionSubtag{
    font-family: serif;
}

.thumbnail img{
    width: 250px;
    border: 4px solid black;
    border-radius: 30px;
}

.contact{
    background-color: #d2cccc42;
    height: 90vh;
}

.text-center{
    text-align: center;
    margin-top: 10px;
    padding: 12px 10px;
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
}


.form{
    max-width: 1200px;
    margin: auto;
}

.form-input{
    width: 90%;
    font-size: 20px;
    border: 4px solid black;
    border-radius: 6px;
    margin: 16px 0px;
    padding: 3px 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer{
    color: white;
    background-color: black;
    font-size: 16px;
    height: 29px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 4px 4px;
}

.burger{
    position: absolute;
    display: none;
    top: 13px;
    right: 5%;
    cursor: pointer;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

