
@media only screen and (max-width:1140px){
    .nav-list{
        flex-direction: column;
        margin-top: 30px;
    }
    .navbar{
        flex-direction: column;
        height: 73vh;
        transition: all 0.7s ease-out;
    }
    #rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    .text-big{
        padding-top: 32px;
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .thumbnail{
        text-align: center;
    }

    #search{
        text-align: center;
    }
    .resp{
        margin-right: 50px;
        margin-top: 10px;
    }
    
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .paras{
        padding:0px;
    }
    .contact{
        margin-top: 32px;
    }

    /* .logo{
        margin-top: 120px;
    } */
}